      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
  
      body {
        font-family: 'Arial', sans-serif;
        background-color: hsl(30, 38%, 92%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
  
      .card {
        background-color: white;
        border-radius: 10px;
        max-width: 350px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
  
      .card img {
        width: 100%;
        height: auto;
      }
  
      .card-content {
        padding: 20px;
      }
  
      .product-category {
        text-transform: uppercase;
        color: hsl(228, 12%, 48%);
        font-size: 0.75rem;
        letter-spacing: 1.5px;
      }
  
      .product-title {
        font-size: 1.5rem;
        margin: 10px 0;
        color: hsl(228, 12%, 20%);
      }
  
      .product-description {
        font-size: 0.875rem;
        line-height: 1.5;
        color: hsl(228, 12%, 48%);
        margin-bottom: 15px;
      }
  
      .price {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
  
      .current-price {
        font-size: 1.5rem;
        color: hsl(158, 36%, 37%);
        margin-right: 10px;
      }
  
      .old-price {
        font-size: 0.875rem;
        text-decoration: line-through;
        color: hsl(228, 12%, 48%);
      }
  
      .btn {
        background-color: hsl(158, 36%, 37%);
        color: white;
        width: 100%;
        padding: 15px;
        text-align: center;
        border-radius: 8px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
      }
  
      .btn:hover {
        background-color: hsl(158, 42%, 30%);
      }
  
      .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 20px;
      }
  
      .attribution a {
        color: hsl(228, 45%, 44%);
      }