*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

article {
  background-color: #FFF;
  border-radius: 0.900rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

body {
  background-color: #F2EAE2;
  display: grid;
  line-height: 1.5;
  min-height: 100vh;
  padding: 0.75rem;
  place-items: center;
  -webkit-font-smoothing: antialiased;
}

button {
  align-items: center;
  background-color: #3D8168;
  border-radius: 0.5rem;
  border: none; 
  color: #FFF;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 0.8rem;
  justify-content: center;
  padding: 1rem;
  transition: all 0.3s;
}

button:hover {
  background-color: #1A4032;
}

.description {
  font-size: 0.875rem;
}

/* Desktop image hidden by default */
.desktop-parfume-img {
  display: none;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.mobile-parfume-img {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  display: block;
  width: 100%;
}

.new-price {
  color: #3D8168;
}

.old-price {
  font-size: 0.813rem;
  text-decoration: line-through;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.price-line {
  align-items: center;
  display: flex;
  gap: 1.5em;
}

.product-label {
  font-size: 0.75rem;
  letter-spacing: 0.313em;
  text-transform: uppercase;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5rem;
}

.text-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Tablet & Desktop sizes */
@media screen and (min-width: 600px) {
  article {
    background-color: #FFF;
    flex-direction: row;
    width: fit-content;
    max-width: 37.5rem;
  }

  /* Show desktop image on larger screens */
  .desktop-parfume-img {
    border-bottom-left-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0;
    display: block;
    max-width: 300px;
    width: 100%;
  }

  /* Hide mobile image on larger screens */
  .mobile-parfume-img {
    display: none;
  }

  section {
    justify-content: space-between;
    padding: 2rem;
  }

  .text-info {
    gap: 1.5rem;
  }
}
